/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2015, 7:59:14 PM
    Author     : Adam
*/


.page_edit_vbox {
    -fx-background-radius: 5.0;
    -fx-alignment: center;
    
}

.file_toolbar_container{
    -fx-background-color: #1E1F26;
}

.file_toolbar_button{
    -fx-background-color:
        linear-gradient(#ffeb94, #fdd475);
    -fx-background-insets: 0,9 9 8 9,9,10,11;
    -fx-background-radius: 30;
    -fx-padding: 5 10 5 10;
    -fx-effect: innershadow( three-pass-box, rgba(0,0,0,0.1), 2, 0.0, 0, 1);
}

.student_name_container{
    -fx-background-color: #283655;
}

.workspace_container{
    -fx-background-color: lightgray;
}

.student_name_text{
    -fx-font-family: sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: normal;
    -fx-min-width:300px;
}

.student_name_label{
    -fx-font-family: sans-serif;
    -fx-font-size: 16px;
    -fx-background-color: white;
}

.page_title_label{
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 0 5 0 0;
}

.page_title_text_field{
    -fx-padding: 5 0 5 15;
    -fx-font-family: sans-serif;
    -fx-font-size: 14px;
}

.site_toolbar_container{
    -fx-background-color: #D0E1F9;
}

.site_toolbar{
    -fx-padding: 5 15 5 15;
}

.site_toolbar_button{
    -fx-background-color: #8593ae;
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 5 10 5 10;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
  
}

.component_pane{
    -fx-text-align: center;
    -fx-padding: 5 0 0 10;
}

.component_button{
    -fx-background-color: #e6ccb5;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-padding: 10 20 10 20;
    
}

.top_workspace_pane{
    -fx-background-color: #4D648D;
}

.page_edit_container{
    
}

.page_edit_view_pane{
    -fx-text-align: center;
    -fx-padding: 10 0 0 15;
}

.page_edit_toolbar_button{
    -fx-background-color: #e6ccb5;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-padding: 10 20 10 20;
}


.selected_page_edit_view{
    -fx-background-color: #EB5E30;
}

.page_edit_view{
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: #B9D9C3;
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-min-height: 30px;
}

.text_prompt{
     -fx-font-size: 16pt;
    -fx-font-weight: bold;
}

.comp_combo_box{
    -fx-font-size: 14pt;
    -fx-background-color: white;
}

.comp_ok_button{
    -fx-font-size: 14pt;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-border-radius: 4 4 4 4;
    -fx-spacing: 10px;
}

.comp_submit_button{
    -fx-font-size: 14pt;
    -fx-background-color: #FFF373;
    -fx-border-radius: 4 4 4 4;
    -fx-border-color: black;
    -fx-spacing: 10px;
}

.comp_dialog_pane{
    -fx-background-color: #FFF373;
    -fx-hgap:25;
    -fx-vgap:15;
    -fx-padding: 30;
}

.image_dialog_pane{
    -fx-min-height: 500px;
    -fx-min-width: 800px;
    -fx-background-color: #FFF373;
    -fx-hgap:25;
    -fx-vgap:15;
    -fx-padding: 30;
}

.list_button{
    -fx-font-size: 14pt;
    -fx-background-color: #FFF373;
    -fx-border-radius: 4 4 4 4;
    -fx-border-color: black;
    -fx-spacing: 10px;
}

.list_label{
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
}

.slide_edit_view {
    -fx-background-radius: 10.0;
    -fx-border-thickness: 10px;
    -fx-border-color: rgb(0, 0, 10);
    -fx-font-family: Georgia, serif;
    -fx-font-size: 16px;
}