/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 1:20:09 PM
    Author     : Adam
*/

/* unvisited link */

body{
    background-color: #A1D6E2;
}

h1,h2,h3,h4,h5,h6 {
	color: #A1D6E2;
}

#components{
    background-color: #FFF;
    color: #000;
}

#header.a{
    color: #1995AD;
}

#navbar{
    background-color: #BCBABE;
}

#banner{
    background-color: #F1F1F2;
}

a{
    color: blue;
}

/* mouse over link */
a:hover {
    color: #1995AD;
}