/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 1:17:12 PM
    Author     : Adam
*/

#header{
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    text-align: left;
}

#navbar{
    position: fixed;
    z-index: 1;
    top: 80px;
    padding-top: 5px;
    width: 10%;
    height: auto;
    word-spacing: 1px;
    text-align: center;
}

#navbar > a{
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
}

#banner{
    width: 100%;
    text-align: center;
    padding-top: 0px;
    top: 0px;
    position: absolute;
    height: 80px;
    
}

img{
    border: 0px none;
    
}
#bannerimg{
    float: right;
}

#content{
    position: absolute;
    height: 100%;
    width: 70%;
    left: 20%;
    right: 20%;
    text-align: left;
}

#components{
    position: absolute;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0px;
    width: 96%;
    height: auto;
    margin-top: 0px;
    top: 80px;
    text-align: left;
}

#caption{
    font-size: 12px;
    text-align: center;
}

#bodyp{
    display: inline-block;
}

#slideshow_controls{
    text-align: center;
    margin-top: 15px;
}

#slide_caption{
    text-align: center;
}

#slide_show{
    text-align: center;
}

#slideshow_controls > input{
  padding-left: 10px; 
}

#components > a{
    padding-left: 5px;
    padding-right: 2px;
    text-decoration: none;
}

