/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 1:16:45 PM
    Author     : Adam
*/

#header{
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
}

#navbar{
    position: absolute;
    width: 100%;
    height: 45px;
    top: 5px;
}

#navbar > a{
    padding-left: 10px;
}

#banner{
    position: absolute;
    width: 100%;
    height: 80px;
    text-align: center;
    top: 50px;
}

img#bannerimg {
    float: right;
}

h1#banner {
    display: inline;
}

img{
    border: 0px none;
}

#bodyimg{
    width: 500px;
    height: 500px;
}


#content{
    position: absolute;
    width: 80%;
    left: 10%;
    right: 10%;
    text-align: left;
}

#components{
    position: absolute;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0px;
    width: 96%;
    margin-top: 0px;
    top: 140px;
    text-align: left;
}

#caption{
    font-size: 12px;
    text-align: center;
}

#bodyp{
    display: inline-block;
}

#slideshow_controls{
    text-align: center;
    margin-top: 15px;
}

#slide_caption{
    text-align: center;
}

#slide_show{
    text-align: center;
}

#slide_img{
    height: 500px;
    width: 500px;
}

#slideshow_controls > input{
  padding-left: 10px; 
}

#components > a{
    padding-left: 5px;
    padding-right: 2px;
    text-decoration: none;
}