/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 1:19:55 PM
    Author     : Adam
*/

/* unvisited link */

body{
    background-color: #90AFC5;
}

#components{
    background-color: white;
}

h1,h2,h3,h4,h5,h6 {
	color: #90AFC5;
}

#header.a{
    color:#763626;
}

#navbar{
    background-color: #336B87;
}

#banner{
    background-color: #2A3132;
}


/* mouse over link */
a:hover {
    color: #763626;
}