/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 1:19:47 PM
    Author     : Adam
*/

/* unvisited link */

body{
    background-color: #80BD9E;
}

#components{
    background-color: white;
}

h1,h2,h3,h4,h5,h6 {
	color: #80BD9E;
}


#header.a{
    color: #89DA59;
}

#navbar{
    background-color: #F98866; 
}

#banner{
    background-color: #FF4208;
}


a{
    color: blue;
}

/* mouse over link */
a:hover {
    color: #89DA59;
}