/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 1:20:02 PM
    Author     : Adam
*/

/* unvisited link */

body{
    background-color: #8D230F;
}

h1,h2,h3,h4,h5,h6 {
	color: #8D230F;
}

#components{
    background-color: white;
}

#header.a{
    color:darkorchid;
}

#navbar{
    background-color: #1E434C;
}

#banner{
    background-color: #9B4F0F;
}

a{
    color: lightseagreen;
}

/* mouse over link */
a:hover {
    color: darkorchid;
}