/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2015, 1:20:17 PM
    Author     : Adam
*/

/* unvisited link */

body{
    background-color: #CDCDC0;
}

h1,h2,h3,h4,h5,h6 {
	color: black;
}

#components{
    background-color: #FFF;
    color: #000;
}

#header.a{
    color: slategray;
}

#navbar{
    background-color: #DDBC95;
}

#banner{
    background-color: #B38867;
}

a{
    color: blue;
}

/* mouse over link */
a:hover {
    color: slategray;
}